venv/
*.vsidx
HybridSortCPP/.vs/HybridSortCPP/v17/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.opendb
*.filters
*.user
*.lastbuildstate
*.ilk
*.recipe
*.obj
*.log
*.ipch
*.tlog
*.lock
*.vcxproj
*.idb
*.pdb
*.exe
*.sln
*.pyc
